/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  padding: 0;
}

svg {
  display: block;
}

img {
  display: block;
}

a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover, a:focus {
  color: #2196f3;
}

.hero-section {
  padding-top: 94px;
  padding-bottom: 94px;
  font-size: 14px;
  line-height: 1.71;
}

.feature-section, .our-team-section, .info-section, .our-benefits-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.our-team-section__title, .our-benefits-section__title {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}

.feature-list__title, .order-info__title {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-list__text, .card-team__text, .footer-contact__wrapper--address, .footer-contact__wrapper--mail, .footer-contact__wrapper--tel, .footer-form__text, .footer-form__input, .footer-form__btn, .footer-form__btn--text, .infoCard-text, .infoCard-textPrice, .order-info__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}

.container, .footer__container {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 1200px;
}

@media screen and (min-width: 480px) {
  .container, .footer__container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container, .footer__container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container, .footer__container {
    max-width: 1200px;
  }
}

.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  font-size: 14px;
  line-height: 1.71;
}

.section-mob, .portfolio-section {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-left: 93px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style-type: none;
}

.site-nav__item {
  margin: 0;
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  padding: 32px 0;
  display: block;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link.current {
  position: relative;
  color: #2196f3;
}

.site-nav__link.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .site-nav {
    display: none;
  }
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.contact-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .contact-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact-nav__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  list-style-type: none;
}

.contact-nav__item + .contact-nav__item {
  margin-top: 10px;
}

@media (min-width: 1200px) {
  .contact-nav__item + .contact-nav__item {
    margin-top: 0;
    margin-left: 30px;
  }
}

.contact-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  text-decoration: none;
}

.contact-nav__link:hover, .contact-nav__link:focus {
  color: #2196f3;
  fill: var(--accent-blue);
}

.contact-nav__icon {
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 768px) {
  .contact-nav {
    display: none;
  }
}

.logo, .footer-contact__logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  padding: 16px 0;
}

.logo .logo__header, .footer-contact__logo .logo__header {
  color: #000000;
}

.hero-section {
  text-align: center;
  min-width: 320px;
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/desktop/6.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/desktop/6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/desktop/6.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/desktop/6.jpg");
  }
}

@media (min-width: 768px) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/desktop/6.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/desktop/6.jpg");
  }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/desktop/6.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/desktop/6.jpg");
  }
}

@media (min-width: 1200px) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/desktop/6.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/desktop/6.jpg");
  }
}

@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/desktop/6.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/desktop/6.jpg");
  }
}

.hero-section__block {
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-width: 1200px) {
  .hero-section__block {
    padding: 106px 237px 106px 237px;
  }
}

.hero-section__title {
  margin: 0 auto 30px;
  text-align: center;
  width: 360px;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 162%;
  color: #ffffff;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .hero-section__title {
    width: auto;
  }
}

@media (min-width: 1200px) {
  .hero-section__title {
    font-size: 44px;
    line-height: 137%;
    margin: 0 0 30px;
    width: auto;
  }
}

.hero-section__btn, .modal-btn {
  background-color: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: #ffffff;
  width: 200px;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
}

@media (min-width: 1200px) {
  .feature-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media (max-width: 1200px) {
  .feature-section__title {
    display: none;
  }
}

@media (min-width: 1200px) {
  .feature-section__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

@media (min-width: 768px) {
  .feature-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.feature-list__icons {
  display: block;
  padding: 25px 190px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

@media (max-width: 480px) {
  .feature-list__icons {
    padding: 25px 0;
  }
}

@media (min-width: 768px) {
  .feature-list__icons {
    padding: 25px 142px;
  }
}

@media (min-width: 1200px) {
  .feature-list__icons {
    padding: 25px 100px;
  }
}

@media (max-width: 480px) {
  .feature-list__icon {
    margin: auto;
  }
}

.feature-list__item {
  width: 100%;
}

@media (min-width: 768px) {
  .feature-list__item {
    width: calc((100% - 30px) / 2);
  }
}

@media (min-width: 1200px) {
  .feature-list__item {
    width: calc((100% - 90px) / 4);
    padding-bottom: 94px;
  }
}

.feature-list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .feature-list__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .feature-list__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .feature-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.feature-list__text {
  line-height: 1.82;
}

.our-skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}

@media (max-width: 1200px) {
  .our-skills-list {
    display: none;
  }
}

.our-skills-list__item {
  position: relative;
}

.our-skills-list__item:not(:last-child) {
  margin-right: 30px;
}

.our-skills-list__image {
  display: block;
}

.our-skills-list__text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  display: block;
  padding: 27px 0;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.our-team-section {
  background-color: #f5f4fa;
}

@media (min-width: 1200px) {
  .our-team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media (min-width: 1200px) {
  .our-team-section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.our-team-section__list {
  text-align: center;
  margin: auto;
}

@media (min-width: 768px) {
  .our-team-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.our-team-section__item {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media (min-width: 768px) {
  .our-team-section__item {
    width: calc((100% - 30px) / 2);
  }
}

@media (min-width: 1200px) {
  .our-team-section__item {
    width: calc((100% - 90px) / 4);
  }
}

.our-team-section__item:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .our-team-section__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .our-team-section__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .our-team-section__item:nth-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .our-team-section__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .our-team-section__item:not(:last-child) {
    margin-right: 30px;
  }
}

.card-team__image {
  margin-bottom: 30px;
  max-width: 100%;
}

.card-team__title {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 119%;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.card-team__text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.social-links, .footer-social-links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
}

@media (min-width: 1200px) {
  .social-links, .footer-social-links__list {
    margin-bottom: 30px;
  }
}

.social-links__btn, .footer-social-links__btn {
  display: block;
  margin-right: 10px;
  padding: 12px;
  color: #afb1b8;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__btn:hover, .footer-social-links__btn:hover, .social-links__btn:focus, .footer-social-links__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-links__icon {
  text-align: center;
  fill: currentColor;
}

@media (min-width: 1200px) {
  .portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
    font-size: 14px;
    line-height: 1.71;
  }
}

.portfolio-btn-list {
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .portfolio-btn-list {
    text-align: center;
    margin-bottom: 30px;
  }
}

.portfolio-btn-list__item {
  display: inline-block;
  letter-spacing: 0.03em;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin-bottom: 15px;
}

.portfolio-btn-list__item:hover, .portfolio-btn-list__item:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn-list__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn-list__btn {
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn-list__btn:hover, .portfolio-btn-list__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.portfolio-image {
  max-width: 100%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  min-width: auto;
  min-height: auto;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .modal {
    min-width: auto;
    min-height: auto;
    width: 528px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 9px 9px 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.modal__close-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-icon:hover {
  fill: #2196f3;
}

.block-form {
  font-family: Roboto, sans-serif;
  padding: 40px;
  margin: auto;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.block-form__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

@media (min-width: 1200px) {
  .block-form__title {
    line-height: 1.15;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form__label, .contact-form__label--area, .contact-form__label--agreement {
  position: relative;
  font-size: 12px;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.contact-form__text {
  display: block;
  margin-bottom: 4px;
}

.contact-form__input {
  width: 100%;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 41px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__icon {
  position: absolute;
  bottom: 14px;
  left: 15px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__label:focus-within .contact-form__icon, .contact-form__label--area:focus-within .contact-form__icon, .contact-form__label--agreement:focus-within .contact-form__icon {
  fill: #2196f3;
}

.contact-form__label:focus-within .contact-form__input, .contact-form__label--area:focus-within .contact-form__input, .contact-form__label--agreement:focus-within .contact-form__input {
  border: 1px solid #2196f3;
}

.contact-form__label--area:focus-within .contact-form__input--area {
  border: 1px solid #2196f3;
}

.contact-form__label--area {
  margin-bottom: 20px;
}

.contact-form__input--area {
  width: 100%;
  padding: 11px 15px;
  resize: none;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.contact-form__label--area:focus-within .contact-form__input--area {
  outline: none;
  border: 1px solid #2196f3;
}

.contact-form__label--agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.contact-form__input--checkbox {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.contact-form__input--checkbox:checked + .checkbox {
  background-color: #2196f3;
  background-image: url("../images/svg/iconcheck.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.contact-form__text--agreement {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-left: 8px;
}

@media (min-width: 1200px) {
  .contact-form__text--agreement {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 24px;
  }
}

.contact-form__text--agreement-accent {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  color: #2196f3;
}

.checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

@media (min-width: 1200px) {
  .checkbox {
    margin-left: 12px;
  }
}

.modal-btn {
  margin: auto;
}

.footer {
  text-align: center;
  background-color: #2f303a;
}

@media (min-width: 1200px) {
  .footer {
    text-align: start;
  }
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) {
  .footer-contact {
    margin-right: 165px;
  }
}

@media (min-width: 1200px) {
  .footer-contact {
    margin-right: 70px;
  }
}

.footer-contact__logo {
  line-height: 1.17;
  padding: 0;
  display: block;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .footer-contact__logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.footer-contact__logo--footer {
  color: #ffffff;
}

.footer-contact__wrapper {
  margin-bottom: 60px;
}

@media (min-width: 1200px) {
  .footer-contact__wrapper {
    margin-bottom: 0;
  }
}

.footer-contact__wrapper--address {
  line-height: 1.55;
  color: #ffffff;
  margin-bottom: 8px;
}

@media (min-width: 1200px) {
  .footer-contact__wrapper--address {
    margin-bottom: 9px;
  }
}

.footer-contact__wrapper--mail, .footer-contact__wrapper--tel {
  display: block;
  font-size: 14px;
  line-height: 1.55;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact__wrapper--mail {
  margin-bottom: 8px;
}

@media (min-width: 1200px) {
  .footer-contact__wrapper--mail {
    margin-bottom: 9px;
  }
}

@media (min-width: 1200px) {
  .footer-social-links {
    margin-top: 12px;
  }
}

.footer-social-links__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social-links__list {
  margin-bottom: 60px;
}

@media (min-width: 1200px) {
  .footer-social-links__list {
    margin-bottom: 0;
  }
}

.footer-social-links__btn {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

@media (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 93px;
    margin-top: 12px;
  }
}

.footer-form__text {
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-form__input {
  font-size: 16px;
  outline: none;
  width: 100%;
  padding: 15px 16px;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
}

@media (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin: 0;
  }
}

.footer-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1200px) {
  .footer-form__label {
    margin-right: 12px;
  }
}

.footer-form__icon {
  display: block;
  margin-left: 10px;
}

.footer-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2196f3;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  padding: 10px 29px;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px auto 0;
}

@media (min-width: 1200px) {
  .footer-form__btn {
    padding: 0 29px;
    margin-top: 36px;
    margin-bottom: 34px;
  }
}

.footer-form__btn--text {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.mobile-menu__list {
  margin-bottom: auto;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle__icon:hover, .menu-toggle__icon:focus {
  fill: #2196f3;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.contact-nav-mob__list {
  margin-bottom: 64px;
}

.contact-nav-mob__item + .contact-nav-mob__item {
  margin-top: 20px;
}

.contact-nav-mob__link--tel {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  color: #2196f3;
  /* identical to box height */
  letter-spacing: 0.02em;
}

.contact-nav-mob__link--mail {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: #757575;
}

.socials-links-mob__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials-links-mob__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.socials-links-mob__item:not(:first-child) {
  padding-left: 10px;
}

.socials-links-mob__link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media (min-width: 420px) {
  .socials-links-mob__link {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .info-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.infoBtn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: auto;
}

@media (min-width: 768px) {
  .infoBtn-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.infoBtn-item {
  display: inline-block;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .infoBtn-item {
    margin-left: 0;
    margin-right: 0;
  }
}

.infoBtn-item:hover, .infoBtn-item:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
  .infoBtn-item:not(:last-child) {
    margin-left: 0;
    margin-right: 8px;
  }
}

.infoBtn {
  padding: 6px 22px;
  width: 150px;
  border: transparent;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.infoBtn:hover, .infoBtn:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.active {
  background-color: #2196f3;
  color: #ffffff;
}

.is-hidden {
  display: none;
}

.infoCard-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 768px) {
  .infoCard-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .infoCard-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.infoCard-item {
  padding: 10px;
  border: 2px solid #f5f4fa;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.infoCard-item:hover, .infoCard-item:focus {
  box-shadow: 0px 5px 10px 2px rgba(230, 122, 147, 0.75);
  -webkit-box-shadow: 0px 5px 10px 2px rgba(148, 98, 110, 0.75);
  -moz-box-shadow: 0px 5px 10px 2px rgbargba(148, 98, 110, 0.75);
}

#airPods2 .infoCard-item {
  width: auto;
}

@media (min-width: 768px) {
  #airPods2 .infoCard-item {
    width: calc((100% - 60px) / 3);
  }
}

@media (min-width: 768px) {
  #airPods-Pro .infoCard-item {
    width: calc((100% - 30px) / 2);
  }
}

@media (min-width: 1200px) {
  #airPods-Pro .infoCard-item {
    width: calc((100% - 60px) / 4);
  }
}

@media (min-width: 768px) {
  #airPods3 .infoCard-item {
    width: calc((100% - 60px) / 2);
  }
}

@media (min-width: 1200px) {
  #airPods3 .infoCard-item {
    width: calc((100% - 60px) / 3);
  }
}

.infoCard-item:not(:last-child) {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .infoCard-item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .infoCard-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  #airPods-Pro .infoCard-item:nth-child(-n+2) {
    margin-bottom: 15px;
  }
}

@media (min-width: 1200px) {
  #airPods-Pro .infoCard-item:nth-child(-n+2) {
    margin-bottom: 0;
  }
}

.infoCard-image {
  margin-right: auto;
  margin-left: auto;
}

.infoCard-textItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-checkmark {
  fill: green;
  margin-right: 5px;
}

.infoCard-image {
  margin-bottom: 30px;
  max-width: 100%;
}

.infoCard-title {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 119%;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}

.infoCard-text {
  font-size: 14px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.infoCard-priceWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1200px) {
  .infoCard-priceWrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.infoCard-textPrice {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.19;
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  .infoCard-textPrice {
    margin-bottom: 0;
  }
}

.infoCard-textPrice span {
  color: crimson;
}

.infoCard-btn {
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: ghostwhite;
  background-color: firebrick;
  font-size: 14px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.infoCard-btn:hover, .infoCard-btn:focus {
  color: grey;
}

.order-info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .order-info__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.order-info__item {
  position: relative;
  padding: 20px;
  background-color: #f5f4fa;
}

@media (min-width: 768px) {
  .order-info__item {
    width: calc((100%-60px)/3);
  }
}

@media (min-width: 1200px) {
  .order-info__item {
    width: calc((100%-60px)/3);
  }
}

.order-info__item:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .order-info__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.order-info__number {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-bottom: 15px;
}

.order-info__number span {
  display: inline-block;
  padding: 0 20px;
  background-color: #2196f3;
  border-radius: 50%;
}

.order-info__title {
  text-align: center;
  margin-bottom: 10px;
}

.order-info__text {
  text-align: center;
  margin-bottom: 10px;
}

.icon-arrow-right {
  display: none;
}

@media (min-width: 768px) {
  .icon-arrow-right {
    position: absolute;
    display: block;
    top: 50%;
    right: -50px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    fill: #f5f4fa;
  }
}

@media (min-width: 1200px) {
  .our-benefits-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media (min-width: 1200px) {
  .our-benefits-section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.our-benefits-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .our-benefits-section__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.our-benefits-section__items {
  padding: 15px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  cursor: pointer;
}

@media (min-width: 768px) {
  .our-benefits-section__items {
    width: calc((100% - 30px) / 2);
  }
}

@media (min-width: 1200px) {
  .our-benefits-section__items {
    width: calc((100% - 30px) / 3);
  }
}

.our-benefits-section__items:not(:last-child) {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .our-benefits-section__items:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .our-benefits-section__items:nth-child(-n+4) {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .our-benefits-section__items:nth-child(-n+4) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .our-benefits-section__items:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .our-benefits-section__items:nth-child(2n+1) {
    margin-right: 15px;
  }
}

@media (min-width: 1200px) {
  .our-benefits-section__items:nth-child(2n+1) {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .our-benefits-section__items:not(:nth-child(3n+3)) {
    margin-right: 15px;
  }
}

.our-benefits-section__icon use {
  fill: white;
}

.our-benefits-section__icon {
  fill: currentColor;
  margin: auto;
}

.wrapper-icon {
  width: 76px;
  height: 76px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 14px 16px;
  background-color: #2196f3;
  border-radius: 50%;
}
/*# sourceMappingURL=main.css.map */